<div id="login">
    <form (submit)="realizarLogin()"> 
    <h1>Login</h1> 
    <div class="form-group"> 
        <label for="email">Email</label>
        <input id="email" required name="email" required="required" type="email" placeholder="email@exemplo.com"/>
    </div>
        
    <div class="form-group"> 
        <label for="senha">Senha</label>
        <input id="senha" required name="senha" required="required" type="password" /> 
    </div>
    <div class="form-button"> 
        <button type="submit"> Entrar </button>
    </div>
    </form>
</div>